<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/style/main.css" />
  <script src="/script/jquery-1.12.2.min.js"></script>
  <script type="text/javascript">
  var $j = jQuery.noConflict(); // $j is now an alias to the jQuery function; creating the new alias is optional.
  </script>
  {% block headers %}{% endblock %}
</head>
<body>
  <div id="header">
      <img src="/images/logo_nc4.gif" alt="NC4 Logo" />
  </div>
  <div id="side">
    <ul>
      <li><a href="{% url 'login' %}">Login</a></li>
      <li><a href="/django/reporting/">Search RT Database</a></li>
      <li><a href="/django/reporting/reg/">Search REG Database</a></li>
      {% block sidebar %}{% endblock sidebar %}
      <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
  </div>
  <div id="main">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
