{% extends "base.html" %}

{% load static %}

{% block title %}Search Incidents{% endblock %}

{% block css %}
<style type="text/css">
@import url({% static 'css/calendar-win2k-1.css' %});
</style>
<style type="text/css">
  .nottoggle:hover {
    cursor: pointer;
  }
</style>
{% endblock css %}

{% block js %}
<script type="text/javascript" src="{% static 'js/prototype.js' %}"></script>
<script type="text/javascript" src="{% static 'js/calendar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/calendar-en.js' %}"></script>
<script type="text/javascript" src="{% static 'js/calendar-setup.js' %}"></script>
<script type="text/javascript">
  op_list = [['eq', 'Equal To'], ['lt', 'Less Than'],
             ['lte', 'Less Equal To'], ['gt', 'Greater Than'],
             ['gte', 'Greater Equal To'],
             ['con', 'Contains'], ['strt', 'Start With'],
             ['in', 'In']];

  cat_list = [['inc', 'Incident Category'], ['inctype', 'Incident Type'],
              ['dateoc', 'Date Occurred'],
              ['update', 'Updated Date'], ['city', 'City'],
              ['cnty', 'County'], ['st', 'State'],
              ['cntry', 'Country'], ['reg', 'Region'],
              ['sev', 'Severity Level'], ['intcom', 'Internal Comments'],
              ['annum', 'Analyst Number'], ['desc', 'Description'],
              ['source', 'Confirmation Source'] , ['quality', 'Confirmation Quality'],
              ['program', 'Special Event']];
</script>
<script type="text/javascript" src="{% static 'js/reporting.js' %}"></script>
<script type="text/javascript">
  function changeDisplay() {
    if (this.formoptions.style.visibility == "hidden") {
        this.formoptions.style.visibility = 'visible';
        $j('#demo').html('[-]');
    } else {
        this.formoptions.style.visibility = 'hidden';
        $j('#demo').html('[+]');
    }
  }

  function toggleOutputOptions() {
    if (this.outputoptions.style.visibility == "hidden") {
        this.outputoptions.style.visibility = 'visible';
        $j('#outputOptionsToggle').html('[-]');
    } else {
        this.outputoptions.style.visibility = 'hidden';
        $j('#outputOptionsToggle').html('[+]');
    }
  }

  function addOp(div) {
    alert(div);
  }

  {% if is_refine %}
  $j(document).ready(function() {
    var criteria = $j.parseJSON('{{ criteria|safe }}');
    var criteria_ids = criteria.ids.split(",");
    for (i=0; i < criteria_ids.length; i++) {
      addRow();
      $j('#field' + i).val(criteria['field' + i]);
      $j('#type' + i).val(criteria['type' + i]).change();
      $j('#op' + i).val(criteria['op' + i]).trigger('change');
      if (criteria['op' + i] === 'in') {
        $j('#field' + i).html('');
        for (j=0; j < criteria['field' + i].length; j++) {
          $j('#field' + i).append($j("<option></option>").attr("value", j).text(criteria['field' + i][j]));
        }
      }

      $j('#not' + i).val(criteria['not' + i]);
      if (criteria['not' + i] == '1') {
        $j('#not' + i).parent().css('color', 'red').css('cursor', 'default').css('font-weight', 'bold');
      }

      $j('#cs' + i).val(criteria['cs' + i]);
      if (criteria['cs' + i] == '1') {
        $j('#cs' + i).parent().css('color', 'red').css('cursor', 'default').css('font-weight', 'bold');
      }

      $j("input[name='latest']").prop('checked', criteria['latest'] == 1);
      $j("input[name='nc4']").prop('checked', criteria['nc4'] == 1);
      $j("input[name='cybertech']").prop('checked', criteria['cybertech'] == 1);
      $j("input[name='both']").prop('checked', criteria['both'] == 1);
      $j("input[name='scope_limitation'][value=" + criteria['scope_limitation'] + "]").prop('checked', true);
      $j("input[name='statistics_only']").prop('checked', criteria['statistics_only'] == 1);
      $j("input[name='incident_history']").prop('checked', criteria['incident_history'] == 1);
      //$j("input[name='scope_limitation']").val() =  criteria['scope_limitation'];
      //$('input[name=foo]').attr('checked', true);
      //$('input[name=foo]').
      //alert(criteria['scope_limitation']);
    }
  });
  {% else %}
  $j(document).ready(function() {
    addRow();
  });
  {% endif %}
</script>
{% endblock js %}

{% block content %}
<form id="incsearch" action="." method="post">
  <div id="submit">
    <input id="searchtype" type="hidden" name="searchtype" value="regular" />
    <input id="rowlist" type="hidden" name="ids" value="" />

    <input type="submit" name="type" value="Google Earth" />
    <input type="submit" name="type" value="Excel" />
    <input type="submit" name="type" value="Search" />
  </div>
  </br>
  <span id="demo" onclick="changeDisplay()" >[+]</span> <b>Additional Search Options</b>
  <div id="formoptions" style="visibility:hidden">
    <input type="checkbox" name="latest" value="1" />Only Latest Report
    <input type="checkbox" name="nc4" value="1" checked />NC4 Only
    <input type="checkbox" name="cybertech" value="1" />CyberTech Only
    <input type="checkbox" name="both" value="1" />NC4 &amp; CyberTech
    </br>
    <input type="radio" name="scope_limitation" value="initial" />Only Initial Report
    <input type="radio" name="scope_limitation" value="final" />Only Latest Report
    <input type="radio" name="scope_limitation" value="both" />Both Initial &amp; Latest Report
    <input type="radio" name="scope_limitation" value="all" />All
    </br>
    <input type="checkbox" name="statistics_only" value="1" />Statistics Only
    <input type="checkbox" name="incident_history" value="1" />Incident History
  </div>
  <span id="outputOptionsToggle"
      onclick="toggleOutputOptions()" >[+]</span> <b>Output Fields</b>
  <div id="outputoptions" style="visibility:hidden">
    <input type="checkbox" name="incidentid" value="1" />Incident Id
    <br/>
    <input type="checkbox" name="incidentcategory" value="1" />Incident Category
    <br/>
    <input type="checkbox" name="incidenttype" value="1" />Incident Type
    <br/>
    <input type="checkbox" name="dateoccurred" value="1" />Date Occurred
    <br/>
    <input type="checkbox" name="updateddate" value="1" />Updated Date
    <br/>
    <input type="checkbox" name="severity" value="1" />Severity
    <br/>
    <input type="checkbox" name="city" value="1" />City
    <br/>
    <input type="checkbox" name="stateprovince" value="1" />StateProvince
    <br/>
    <input type="checkbox" name="country" value="1" />Country
    <br/>
    <input type="checkbox" name="gist" value="1" />Gist
    <br/>
    <input type="checkbox" name="description" value="1" />Description
    <br/>
    <input type="checkbox" name="infosource" value="1" />Info Source
    <br/>
    <input type="checkbox" name="infoquality" value="1" />Info Quality
    <br/>
    <input type="checkbox" name="latitude" value="1" />Latitude
    <br/>
    <input type="checkbox" name="longitude" value="1" />Longitude
    <br/>
    <input type="checkbox" name="updatedby" value="1" />Updated By
    <br/>
    <input type="checkbox" name="county" value="1" />County
    <br/>
    <input type="checkbox" name="street" value="1" />Street
    <br/>
    <input type="checkbox" name="postal" value="1" />Zip / Postal Code
    <br/>
    <input type="checkbox" name="approximate" value="1" />Approximate
    <br/>
    <input type="checkbox" name="commentflag" value="1" />Comment
    </br>
  </div>
</form>
<div id="announcement">
  <h3>Introducing A New Operator: IN</h3>
  <ul>
    <li>I have added a new operator called IN. With the IN operator you can
        now specify a list of values you want to look for. Want to find
        incidents in California, Florida and Texas? Use IN. Want to find
        incidents in United States and Canada? You get the idea.
    </li>
<!--
    <li>What is the difference between IN and CONTAINS? The CONTAINS operator finds a piece of text within a larger piece of text. If you want to know how many incident descriptions had the word "NYPD" you would use the CONTAINS operator.</li>
-->
    <li>If you have any issues be sure to let me know.</li>
  </ul>
  <p>-Cristian</p>
</div>
{% endblock content %}
